@font-face {
  font-family: "iconfont"; /* Project id 4949282 */
  src: url('iconfont.woff2?t=1749851722480') format('woff2'),
       url('iconfont.woff?t=1749851722480') format('woff'),
       url('iconfont.ttf?t=1749851722480') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kubernetes:before {
  content: "\ebee";
}

